<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Navbar css-->
    <link rel="stylesheet" href="./css/nav.css">
    <!-- Main css -->
    <link rel="stylesheet" href="./css/courses.css">
    <!-- Iconify -->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script>
        // Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
        // Clear out courseDetails
        // localStorage.removeItem("courseDetails");
    </script>
    <!-- NavBar -->
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>
</head>

<body>
    <div v-cloak id="app" class="wrapper container mx-auto">
        <div id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a href="./view-list-of-courses-HR.html">Courses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Course</li>
                </ol>
            </nav>
        </div>

        <h4 class="pt-3 pl-2">Add a New Course</h4>
        <div class="form-border rounded">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Course Name</label><span class="form-error ml-2">{{ error.name }}</span>
                    <input class="form-control" placeholder="e.g. Introduction to Ink Installation" v-model="name" @input="validateCourseName">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Course id</label><span class="form-error ml-2">{{ error.id }}</span>
                    <input class="form-control" placeholder="e.g. IC111" v-model="id"  @input="validateCourseId">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Course Description</label><span class="form-error ml-2">{{ error.description }}</span>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" v-model="description"  @input="validateCourseDescription" placeholder="e.g. This course teaches the fundamentals of ink replacement procedures..."></textarea>
                </div>
                
                <div class="form-group">
                    <!-- <label for="exampleFormControlInput1">Pre-requisites</label><span v-if = "selected.length === 0" class="ml-2 form-notice">* Currently no pre-requisite courses are selected</span> -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true" v-model="prereqs" @click="selected=[courses[0].course_id]">
                        <label class="form-check-label" for="inlineRadio1">Prerequisite Courses</label>
                    </div>
                    <div class="form-check form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false" v-model="prereqs" @click="selected=[]">
                        <label class="form-check-label" for="inlineRadio2">No Prerequisite Courses</label>
                    </div>
                    <select v-if="prereqs =='true'" multiple v-model="selected" class="form-control" style="height: 150px">
                        <option v-for="course in courses" :value="course.course_id">{{course.course_id}} {{ course.course_name }}</option>
                    </select>
                </div>
                <div v-if="apiError" class="alert alert-danger mt-4 text-center" role="alert">
                    {{ apiError }}
                </div>
                <div v-if="successAlert" class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    {{ course.course_id }} successfully updated.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="successAlert=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <!-- <a v-if="apiError" class="btn btn-success mt-4 disabled" @click="onSubmit">Confirm</a> -->
                    <!-- <a v-else class="btn btn-success mt-4" @click="onSubmit">Confirm</a> -->
                    <a class="btn btn-success mt-4" @click="onSubmit">Confirm</a>
                </div>
            </form>
        </div>

    </div>
    
<script type="module">
import { URL, retrieveAllCourses, createCourse } from "./callAPI/endpoints.js";
import navBar from "./components/navBar.js"

new Vue({
    el: '#nav-bar-component' 
});

var app = new Vue({
    el: '#app',
    data: {
        accountDetails: {},
        name: "",
        id: "",
        description: "",
        selected: [],
        prereqs: "true",
        error: {
            name: "",
            id: "",
            description: ""
        },
        errorMessages: ["* Course name should be specified", "* Course id should be specified", "* Course description should be specified"],
        apiError: false,
        course: {},
        courses: [],
        successAlert: false
    },
    methods: {
        onSubmit() {
            // 1. Validate form
            this.validateForm();
            if (this.name.length === 0 || this.id.length === 0 || this.description.length === 0) {
                event.preventDefault();
            } else {
            // 2. Initialzie new course object and call create course API
                const course = {
                    "course_name": this.name,
                    "course_id": this.id,
                    "course_description": this.description,
                    "prerequisite_course": this.selected,
                    "class_list": [],
                };
                createCourse(URL, course).then(result => {
                    this.apiError = false;
                    if (result.code == 201){
                        const course = result.data;
                        this.successAlert = true;
                        //set course details for next page usage
                        this.setCourseDetails(course)
                        location.href = "./view-specific-course-HR.html"
                    } else {
                        this.successAlert = false;
                        this.apiError = result.data + ".";
                    }
                });
            
            }
        },
        setCourseDetails(courseDetails) {
            localStorage.setItem("courseDetails", JSON.stringify(courseDetails))
        },
        validateForm() {
            if (this.name.length === 0) {
                this.error.name = this.errorMessages[0];
            }
            if (this.id.length === 0) {
                this.error.id = this.errorMessages[1];
            }
            if (this.description.length === 0) {
                this.error.description = this.errorMessages[2];
            }
        },
        validateCourseName() {
            if (this.name.length === 0) {
                this.error.name = this.errorMessages[0];
            } else {
                this.error.name = "";
            }
        },
        validateCourseId() {
            if (this.id.length === 0) {
                this.error.id = this.errorMessages[1];
            } else {
                this.error.id = "";
            }
        },
        validateCourseDescription() {
            if (this.description.length === 0) {
                this.error.description = this.errorMessages[2];
            } else {
                this.error.description = "";
            }
        },
    },
    created: function() {
        const accountDetails = JSON.parse(localStorage.getItem("accountDetails"));
        this.accountDetails = accountDetails;
        //call API to get all courses
        retrieveAllCourses(URL).then(result => {
            if (result.code == 200){
                this.apiError = false;
                const courses = result.data;
                //sort courses according to course id in ascending order
                this.courses = courses.sort((a, b) => (a.course_id > b.course_id) ? 1 : -1);
                this.selected = [courses[0].course_id]
            } else {
                this.apiError = result.data + ".";
            }
            
        });
    }

})

</script>


<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>