<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Quiz CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <title>Add Quiz</title>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        //Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
    </script>

</head>
<body>
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>

    <div id='breadcrumb-div' class='mx-auto mt-4'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a id ='breadcrumb-1' href="#">Home</a></li>
                <li class="breadcrumb-item"><a id ='breadcrumb-2' href="#"></a></li>
                <li class="breadcrumb-item"><a id ='breadcrumb-3' href="#"></a></li>
                <li class="breadcrumb-item"><a id ='breadcrumb-4' href="#"></a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Quiz</li>
            </ol>
        </nav>
    </div>

    <div id='app' v-cloak>
        <div id='alert-and-button'>
            <div v-if='questionsList.length == 0' id='alert-no-qn' class="alert alert-danger mx-auto" role="alert">
                There are no questions. Add one by clicking a button below!
            </div>
            <div id='alertToAddQn' class='d-none'>
                <div id='alert-no-qn' class="alert alert-warning mx-auto" role="alert">
                    Click on one of the buttons below to add a question!
                </div>
            </div>
            <div id='qnButtons'>
                <div id='add-qn-button' class='mx-2'>
                    <button id='true-false-button' type="button" class="btn btn-outline-info" v-on:click='createTFQuestion'>Add T/F Question</button>
                </div>
                <div id='add-mcq-qn-button' class='mx-2'>
                    <button id='mcq-button' type="button" class="btn btn-outline-secondary" v-on:click='createMCQQuestion'>Add MCQ Question</button>
                </div>
            </div>
        </div>

        <div v-if='error!=""' id='error'>
            <div id='duplicate-alert' class="alert alert-danger mx-auto text-center justify-content-center limitDivWidth" role="alert">
                {{error}}
            </div>
        </div>
        <div id='form-div' class='mx-auto d-none limitDivWidth'>
            <div id='TFQn' class='d-none'>
                <div class="form-group">
                    <label for="question">Question Title</label>
                    <input type="text" maxlength="128" class="form-control" id="TFquestion">
                </div>
                <button id='question-title-submit-btn' type='button' v-on:click='addTFQuestion' class="btn btn-primary">Add T/F Question</button>
            </div>
            <div id='MCQQn' class='d-none'>
                <div class="form-group">
                    <label for="question">Question Title</label>
                    <input type="text" maxlength="128" class="form-control" id="MCQquestion">
                </div>
                <button id='question-title-submit-btn' type='button' v-on:click='addMCQQuestion' class="btn btn-primary">Add MCQ Question</button>
            </div>
        </div>
        <div id='question-div' class='question-div'></div>
        <div id='answer-div' class='mx-auto d-none limitDivWidth'>
            <div id='answerOptions'>
                <div class="form-group">
                    <div id='completedAnswerOptions' class='d-none'>
                        <div class='container'>
                            <div class='row'>
                                <div class="col"></div>
                                <div class='col mb-3 d-flex justify-content-center' id='confirmAnswerOptions'>
                                    <button type="button" class="btn btn-secondary"><a id='addAnswers' style='color:white' href="#" v-on:click='addAnswers'>Confirm</a></button>
                                </div>
                                <div class='col'></div>
                            </div>
                        </div>
                    </div>
                    <label for="answers">Add answer options</label>
                    <input type="text" maxlength="128" class="form-control" id="answer">
                </div>
                <button id='question-title-submit-btn' type='button' v-on:click='addAnswerOptions' class="btn btn-primary">Add Answer Option</button>
            </div>
        </div>
        <div v-if='questionsList.length > 0' id='submit-btn'>
            <div class='container'>
                <div class='row'>
                    <div class="col"></div>
                    <div class='col mx-auto mb-3' id='submit-and-cancel-button'>
                        <button type="button" class="btn btn-success mr-2"><a id='confirmBtn' href="#" v-on:click='checkEmpty' style='color:white'>Confirm</a></button>
                        <button type="button" class="btn btn-danger ml-2"><a href='./trainer_section_page.html' style='color:white'>Cancel</a></button>
                    </div>
                    <div class='col'></div>
                </div>
            </div>
        </div>
    </div>



    <script type="module">
        var section_id = JSON.parse(localStorage.getItem('sectionSelectedId'));

        var section_name = JSON.parse(localStorage.getItem('sectionSelectedName'));
        document.getElementById('breadcrumb-4').innerText = section_name;

        import navBar from "./components/navBar.js"

        new Vue({
            el: '#nav-bar-component'
        });

        const course = JSON.parse(localStorage.getItem("courseDetails"));
        const class_details= JSON.parse(localStorage.getItem("classDetails"));

        // set breadcrumb
        const course_id = course['course_id'];
        document.getElementById('breadcrumb-2').innerText = course_id

        const class_id = class_details['class_id'];
        document.getElementById('breadcrumb-3').innerText = "Class " + class_id

        var app = new Vue({
            el: "#app",
            data: {
                questionsList: [],
                questionNames: [],
                questionNumber: 0,
                error: ""
            },
            methods:{
                showAlertDiv: function(){
                    document.getElementById('form-div').classList.add("d-none");
                    document.getElementById('alert-and-button').classList.remove("d-none");
                    document.getElementById("alertToAddQn").classList.remove('d-none');
                },
                // function to trigger the creation of TF question title
                createTFQuestion: function(){
                    document.getElementById('form-div').classList.remove("d-none");
                    document.getElementById('alert-and-button').classList.add("d-none");
                    if(!document.getElementById('MCQQn').classList.contains('d-none')){
                        document.getElementById('MCQQn').classList.add("d-none");
                    }
                    document.getElementById('TFQn').classList.remove("d-none");

                },
                createMCQQuestion: function(){
                    document.getElementById('MCQquestion').value = "";
                    document.getElementById('form-div').classList.remove("d-none");
                    document.getElementById('alert-and-button').classList.add("d-none");
                    if(!document.getElementById('TFQn').classList.contains('d-none')){
                        document.getElementById('TFQn').classList.add("d-none");
                    }
                    document.getElementById('MCQQn').classList.remove("d-none");
                },
                // function to add the TF question to questionsList
                addTFQuestion: function(){
                    var question = {};
                    var questionTitle = document.getElementById('TFquestion').value;
                    if(this.questionNames.includes(questionTitle.toLowerCase())){
                        document.getElementById('TFquestion').value = "";
                        this.error = "Duplicate question alert! Enter another question."
                    } else if((!this.questionNames.includes(questionTitle.toLowerCase())) && (questionTitle !== "")){
                        // this.errorList.remove("Duplicate question alert! Enter another question.")
                        this.error = "";
                        this.questionNumber ++;
                        this.questionNames.push(questionTitle.toLowerCase());

                        const questionDiv = document.getElementById('question-div');
                        const questionInputNode = document.createElement('p');
                        questionInputNode.innerText = this.questionNumber + ". " + questionTitle;
                        questionInputNode.className ='h5 ml-4 mt-4';
                        questionInputNode.setAttribute('id', 'question-title');

                        question['question_name'] = questionTitle;
                        question['isMCQ'] = false;
                        question['options'] = ['True', 'False'];

                        questionDiv.appendChild(questionInputNode);
                        questionDiv.innerHTML += `<div class='ml-4'>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="trueOption" value="option1">
                                                        <label class="form-check-label" for="inlineRadio1">True</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="falseOption" value="option2">
                                                        <label class="form-check-label" for="inlineRadio2">False</label>
                                                    </div>
                                                </div>`;
                        document.getElementById('TFquestion').value = "";
                        this.questionsList.push(question);
                        this.showAlertDiv();
                    }
                },
                addMCQQuestion: function(){
                    var question = {};
                    var questionTitle = document.getElementById('MCQquestion').value;
                    if(this.questionNames.includes(questionTitle.toLowerCase())){
                        document.getElementById('MCQquestion').value = "";
                        this.error = "Duplicate question alert! Enter another question."
                    } else if((!this.questionNames.includes(questionTitle.toLowerCase())) && (questionTitle !== "")){
                        this.error = "";
                        this.questionNumber ++;
                        document.getElementById('completedAnswerOptions').classList.add('d-none');
                        this.questionNames.push(questionTitle.toLowerCase());

                        const questionDiv = document.getElementById('question-div');
                        const questionInputNode = document.createElement('p');
                        questionInputNode.innerText = this.questionNumber + ". " + questionTitle;
                        questionInputNode.className ='h5 ml-4 mt-4';
                        questionInputNode.setAttribute('id', 'question-title');

                        question['question_name'] = questionTitle;
                        question['isMCQ'] = true;
                        question['options'] = [];
                        question['options_lower'] = [];

                        questionDiv.appendChild(questionInputNode);

                        document.getElementById('form-div').classList.add('d-none');
                        this.questionsList.push(question);
                        this.showAnswerDiv();
                    }
                },
                showAnswerDiv: function(){
                    document.getElementById('answer-div').classList.remove('d-none');
                },
                addAnswerOptions: function(){
                    var answer = document.getElementById('answer').value;
                    var questionNumber = this.questionNumber-1;

                    if(this.questionsList[questionNumber].options_lower.includes(answer.toLowerCase())){
                        document.getElementById('answer').value="";
                        this.error = 'Duplicate answer alert! Enter another answer.';
                    } else if(!this.questionsList[questionNumber].options_lower.includes(answer.toLowerCase()) && (answer !== "")){
                        this.error = '';
                        this.questionsList[questionNumber].options_lower.push(answer.toLowerCase());
                        this.questionsList[questionNumber].options.push(answer);
                        var numAnswers = this.questionsList[questionNumber].options.length;
                        if(numAnswers >=3){
                            document.getElementById('completedAnswerOptions').classList.remove('d-none');
                        }
                        const questionDiv = document.getElementById('question-div');
                        const answerInputNode = document.createElement('p');
                        answerInputNode.innerText = numAnswers + ". " + answer;
                        answerInputNode.className ='h5 ml-5';
                        answerInputNode.setAttribute('id', 'answer-title');

                        questionDiv.appendChild(answerInputNode);
                        document.getElementById('answer').value ="";
                    }
                },
                addAnswers: function(){
                    document.getElementById('answer-div').classList.add('d-none');
                    this.showAlertDiv();
                },
                checkEmpty: function(){
                    if(this.questionsList.length == 0){
                        this.error = "The quiz cannot be empty! Please add a question before submitting.";
                        document.getElementById('error').remove('d-none');
                    }
                    // } else if(document.getElementById('completedAnswerOptions').classList.contains('d-none')){
                    //     this.error = "Please enter at least 3 answer options for MCQ questions!";  
                    // }
                    else{
                        var numOptions = true;
                        for(let question in this.questionsList){
                            if(question.isMCQ == true){
                                numOptions = question.options.length;
                                if(numOptions <3){
                                    numOptions = false;
                                }
                            }  
                        }
                        if(numOptions == true){
                            let confirmBtn = document.getElementById('confirmBtn')
                            confirmBtn.href = './add_question_score.html'
                            localStorage.setItem('questions', JSON.stringify(this.questionsList));
                        } else {
                            this.error = "Please enter at least 3 answer options for MCQ questions!";  
                        } 
                    }  
                }
            }
        })

        $(document).ready(function() {
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                event.preventDefault();
                return false;
                }
            });
        });
    </script>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>