<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Enrolment CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Enter Question Score</title>

    <script>
        //Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
    </script>
    
</head>
<body>
    
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>

    <div id='app' v-cloak>
        <div id='breadcrumb-div' class='mx-auto mt-4'>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a id ='breadcrumb-1' href="#">Home</a></li>
                    <li class="breadcrumb-item"><a id ='breadcrumb-2' href="#">{{course_id}}</a></li>
                    <li class="breadcrumb-item"><a id ='breadcrumb-3' href="#">Class G{{class_id}}</a></li>
                    <li class="breadcrumb-item"><a id ='breadcrumb-4' href="#"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Enter Question Score</li>
                </ol>
            </nav>
        </div>
        
        <div>
            <div class='mt-4 mb-4'>
                <div class="text-center h3">Enter a score and select the correct answer for a question</div>
                <div id='error-quiz-creation' class="d-none alert alert-danger mx-auto text-center justify-content-center mt-4" role="alert"></div>
                <div id='error' v-if= "error" class="alert alert-danger mx-auto text-center justify-content-center" role="alert">An error has occurred when creating quiz. Please try again later.</div>
                <div v-if= "errorEdit" class="w-50 alert alert-danger mx-auto text-center justify-content-center" role="alert">Editing of this quiz is not allowed as a learner has attempted it before.</div>
                <div>
                    <div id='timeLimitDiv' class="input-group mx-auto mt-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quiz Time limit (in minutes)</span>
                        </div>
                        <input id='timeLimit' type="number" aria-label="score" min='1' class="form-control text-center" v-model='time_limit'>
                        <div id="timeLimitError" class='text-danger'></div>
                    </div>
                </div>
            </div>
        </div>
        <div id='scoreDiv' class='mx-auto'>
            <div class='ml-4 mb-4' v-for='(question, index) in questions'>
                <span class ='h5 mb-3'>
                    {{index+1}}. {{question.question_name}}
                </span>
                <span id='score'>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Score</span>
                        </div>
                        <input type="number" aria-label="score" min='1' max='99' class="form-control text-center" v-model='questions[index].marks' @change='checkValue(index)'>
                    </div>
                    <div :id="'error' + index" class='text-danger'></div>
                </span>
                <div class='ml-4'>
                    <div v-for="(option, ind) in question.options" class="form-check py-2 my-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" v-bind:name="index" v-bind:id="index" :value="ind" v-model=questions[index].correct_option>{{option}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id='submit-btn' class='mb-3'>
            <div class='container'>
                <div class='row'>
                    <div class="col"></div>
                    <div class='col mx-auto' id='submit-and-cancel-button'>
                        <button type="button" class="btn btn-success mr-2" @click='createQuizzes'>Confirm</button>
                        <button type="button" class="btn btn-danger ml-2"><a href='./trainer_section_page.html' style='color:white'>Cancel</a></button>
                    </div>
                    <div class='col'></div>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        import { URL, retrieveSpecificSection, createQuiz, updateQuiz} from "./callAPI/endpoints.js";
        var section_id = JSON.parse(localStorage.getItem('sectionSelectedId'));

        var section_name = JSON.parse(localStorage.getItem('sectionSelectedName'));
        document.getElementById('breadcrumb-4').innerText = section_name

        var questionsList = JSON.parse(localStorage.getItem('questions'));

        
        // console.log(questionsList)
        import navBar from "./components/navBar.js"

        new Vue({
            el: '#nav-bar-component'
        });

        var app = new Vue({
            el: '#app',
            data: {
                questions: null,
                error: false,
                time_limit: 1, 
                course_id: "",
                class_id: "",
                errorEdit: false
            },
            created() {
                // const course = JSON.parse(localStorage.getItem("courseDetails"));

                // const course_id = course['course_id'];
                // this.course_id = course_id;
                // const class_id = course['class_id'];
                // this.class_id = class_id;

                const course = JSON.parse(localStorage.getItem("courseDetails"));
                const class_details= JSON.parse(localStorage.getItem("classDetails"));

                const course_id = course['course_id'];
                this.course_id = course_id;

                const class_id = class_details['class_id'];
                this.class_id = class_id;

                this.questions = questionsList
                for(let qn in this.questions){
                    this.questions[qn].marks = 1
                    this.questions[qn].question_no = Number(qn) + 1
                }
            },
            methods: {  
                checkValue: function(ind){
                    if(this.questions[ind].marks<=0){
                        this.questions[ind].invalidNumber = true
                        document.getElementById(`error${ind}`).innerText = "Please enter a value more than 0!"
                    } else {
                        this.questions[ind].invalidNumber = false
                        document.getElementById(`error${ind}`).innerText = ""
                    }                    
                },
                createQuizzes: function(){
                    var errorCheck = false
                    let qns = []
                    for(let question of this.questions){
                        let qnObj = {}
                        if(question.marks==null || question.question_name==null || question.question_no==null || question.correct_option== null || this.time_limit == ""){
                            document.getElementById('error-quiz-creation').innerText = "Please ensure that all fields have been filled up.";
                            document.getElementById('error-quiz-creation').classList.remove("d-none");
                            errorCheck = true;
                        } else if (this.time_limit <= 0){
                            document.getElementById('timeLimitError').innerText = "The time limit for the quiz should be at least 1 minute!";
                            errorCheck = true
                        } else if (question.marks <=0){
                            document.getElementById('error-quiz-creation').innerText = "Please ensure that all scores are non-negative.";
                            document.getElementById('error-quiz-creation').classList.remove("d-none");
                            errorCheck = true;
                        } 
                        else {
                            document.getElementById('timeLimitError').innerText = "";
                            document.getElementById('error-quiz-creation').classList.add('d-none');
                            // setting questions body
                            qnObj.isMCQ = false;
                            qnObj.marks = question.marks;
                            qnObj.question_name = question.question_name;
                            qnObj.question_no = question.question_no;
                            qnObj.options = question.options;
                            qnObj.correct_option = question.correct_option;
                            qns.push(qnObj);
                        }
                    }

                    if(errorCheck === false){
                        if(JSON.parse(localStorage.getItem("isFinalQuiz")) == true){
                            if(JSON.parse(localStorage.getItem("selectedQuizId")) != null){
                                var quizDetails = {
                                        "quiz_id": JSON.parse(localStorage.getItem("selectedQuizId")),
                                        "questions": qns,
                                        "time_limit": this.time_limit * 60,
                                        "course_id": this.course_id,
                                        "class_id": this.class_id,
                                        "is_final_quiz": true
                                }
                            } else {
                                var quizDetails = {
                                        // "quiz_id": JSON.parse(localStorage.getItem("selectedQuizId")),
                                        // "section_id": section_id,
                                        "questions": qns,
                                        "time_limit": this.time_limit * 60,
                                        "course_id": this.course_id,
                                        "class_id": this.class_id,
                                        "is_final_quiz": true
                                }
                            }
                            
                        } else {
                            if(JSON.parse(localStorage.getItem("selectedQuizId")) == null){
                                var quizDetails = {
                                            // "quiz_id": 3,
                                            "section_id": section_id,
                                            "questions": qns,
                                            "time_limit": this.time_limit * 60
                                }
                            }
                            else{
                                var quizDetails = {
                                            "quiz_id": JSON.parse(localStorage.getItem("selectedQuizId")),
                                            "section_id": section_id,
                                            "questions": qns,
                                            "time_limit": this.time_limit * 60
                                }
                            }
                        } 
                        if(JSON.parse(localStorage.getItem("selectedQuizId")) != null) {
                            updateQuiz(URL, quizDetails).then(result => {
                                // console.log(quizDetails)
                                // console.log(result)
                                if (result.code !== 200){
                                    if(result.code === 401){
                                        this.errorEdit = true;
                                    } else {
                                        this.error = true;
                                    }
                                    
                                } else {
                                    window.location.href = "./trainer_section_page.html";
                                }
                            })
                        } else  {
                            createQuiz(URL, quizDetails).then(result => {
                                // console.log(result);
                                // console.log(quizDetails)
                                if (result.code !== 201){
                                    this.error = true;
                                } else {
                                    window.location.href = "./trainer_section_page.html";
                                    // console.log(quizDetails)
                                }
                            
                            })
                        }
                        
                    }      
                }
            }
        })
    </script>

</body>
</html>