<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Navbar css-->
    <link rel="stylesheet" href="./css/nav.css">
    <!-- Main css -->
    <link rel="stylesheet" href="./css/courses.css">
    <!-- Iconify -->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <!-- Check for authentication -->
    <script>
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
    </script>
    <!-- NavBar -->
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>
</head>

<body>
    <div v-cloak id="app" class="wrapper container mx-auto">
        <div id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a href="./view-list-of-courses-HR.html">Courses</a></li>
                    <li class="breadcrumb-item"><a href="./view-specific-course-HR.html">{{ course.course_id }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Assign Trainer</li>
                </ol>
            </nav>
        </div>

        <h4 class="pt-3 pl-2">Assign Trainer</h4>
        <div class="form-border rounded">
            <div class="text-center">
                <h5 class="mb-2">Trainer Assigned for G{{ classObj.class_id }}:</h5>
                <h5 class="mb-5"><strong>{{ displayTrainerName() }}</strong></h5>
            </div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Assign Trainer</label><span class="form-error ml-2">{{ error.assignedTrainer }}</span>
                    <select v-model="selectedTrainer" class="form-control">
                        <option v-for="trainer in trainersList" :value="trainer.staff_id">{{ trainer.staff_name }}</option>
                    </select>
                </div>
                <div v-if="apiError" class="alert alert-danger mtt-0 text-center" role="alert">
                    {{ apiError }}
                </div>
                <div v-if="successAlert" class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    Trainer successfully updated.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="successAlert=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <!-- <a v-if="apiError" class="btn btn-success mt-4 disabled" @click="onSubmit">Confirm</a> -->
                    <!-- <a v-else class="btn btn-success mt-4" @click="onSubmit">Confirm</a> -->
                    <a id="confirm-button" class="btn btn-success mt-4" @click="onSubmit">Confirm</a>
                </div>
            </form>
        </div>

    </div>
    
<script type="module">
import { URL, retrieveQualifiedTrainers, assignTrainer } from "./callAPI/endpoints.js";
import navBar from "./components/navBar.js"

new Vue({
    el: '#nav-bar-component' 
});

var app = new Vue({
    el: '#app',
    data: {
        accountDetails: {},
        course: {},
        classObj: {},
        error: {
            assignedTrainer: "",
        },
        errorMessages: ["* Eligible trainers are not loaded. Please try again later.", "* No eligible trainers found."],
        apiError: false,
        selectedTrainer: "",
        trainersList: [],
        successAlert: false
    },
    methods: {
        onSubmit() {
            // 1. Validate form
            if (this.error.assignedTrainer !== ""){
                event.preventDefault();
            } else {
            // 2. Set course object and call create course API
                const assignedTrainerObj = {}
                assignedTrainerObj.course_id = this.course.course_id;
                assignedTrainerObj.class_id = this.classObj.class_id;
                assignedTrainerObj.staff_id = this.selectedTrainer;

                //Call assign trainer endpoint
                assignTrainer(URL, assignedTrainerObj).then(result => {
                    this.apiError = false;
                    if (result.code == 200){
                        const assignedTrainer = result.data;
                        this.successAlert = true;
                    // Return 200, redirect to next page
                        // window.location.replace("./view-specific-course-HR.html")
                    } else {
                        this.successAlert = false;
                        this.apiError = result.data;
                    }
                });
                
            }
        },
        displayTrainerName() {
            if (this.classObj.trainer_name === null){
                return "Not assigned";
            } else {
                return this.classObj.trainer_name;
            }
        }
        
    },
    created: function() {
        this.accountDetails = JSON.parse(localStorage.getItem("accountDetails"));
        const course = JSON.parse(localStorage.getItem("courseDetails"));
        this.course = course;
        this.classObj = JSON.parse(localStorage.getItem("classDetails"));

        this.displayTrainerName();

         //call API to get qualified trainers
        retrieveQualifiedTrainers(URL, course.course_id).then(result => {
            if (result.code == 200){
                this.apiError = false;
                this.error.assignedTrainer = ""
                const trainersList = result.data;
                //sort courses according to course id in ascending order
                this.trainersList = trainersList.sort((a, b) => (a.staff_name > b.staff_name) ? 1 : -1);
                this.selectedTrainer = trainersList[0].staff_id
            } else if (result.code === 404) {
                this.error.assignedTrainer = this.errorMessages[1]
                document.getElementById("confirm-button").classList.add("disabled");
            } else {
                this.error.assignedTrainer = this.errorMessages[0]
                document.getElementById("confirm-button").classList.add("disabled");
            }
            
        });
    }

})

</script>


<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>