<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Quiz CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <title>Edit Quiz</title>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        //Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
    </script>

</head>
<body>
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>

    <div id='breadcrumb-div' class='mx-auto mt-4'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a id ='breadcrumb-1' href="#">Home</a></li>
                <li class="breadcrumb-item"><a id ='breadcrumb-2' href="#"></a></li>
                <li class="breadcrumb-item"><a id ='breadcrumb-3' href="#"></a></li>
                <li class="breadcrumb-item"><a id ='breadcrumb-4' href="#"></a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Quiz</li>
            </ol>
        </nav>
    </div>

    <div id='app'>
        <div id='existing-questions' class='mx-auto limitDivWidth'> 
            <div class='text-center'>
                <h2>Edit Quiz</h2>
            </div>
            
            <div id='alert-and-button' class='my-3'>
                <div id='alertToAddQn' class='d-none'>
                    <div id='alert-no-qn' class="alert alert-warning mx-auto" role="alert">
                        Click on one of the buttons below to add a question!
                    </div>
                </div>
                <div id='qnButtons'>
                    <div id='add-qn-button' class='mx-2'>
                        <button id='true-false-button' type="button" class="btn btn-outline-info" v-on:click='createTFQuestion'>Add New T/F Question</button>
                    </div>
                    <div id='add-mcq-qn-button' class='mx-2'>
                        <button id='mcq-button' type="button" class="btn btn-outline-secondary" v-on:click='createMCQQuestion'>Add New MCQ Question</button>
                    </div>
                </div>
            </div>
            <div v-for='(question, index) in questionsList' class='mt-4 limitDivWidth mx-auto'>
                <div :id="'question' + index">
                    {{index + 1}}. {{question.question_name}}
                    <span><button :id="'editBtn' + index" type='button' v-on:click='editQuestion(index)' class="btn btn-primary btn-sm ml-2">Edit Question</button></span>
                    <div v-if='question.isMCQ==true' v-for='(option, ind) in question.options' class='ml-3 mt-2'>{{ind + 1}}. {{option}}</div>
                    <div v-if='question.isMCQ==false' v-for='(option, ind) in question.options' class='ml-3 mt-2'>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions">
                            <label class="form-check-label" for="inlineRadio1">{{option}}</label>
                        </div>
                    </div>
                </div>

                <div id='edit' class=''>
                    <div :id="'editQuestions' + index" class='mt-4 d-none'>
                        <label for="questions">Question Title</label>
                        <div>
                            <!-- <input type="text" maxlength="128" class="form-control" id="question" v-model='questionsList[index].question_name'> -->
                            <input type="text" maxlength="128" id="question" class='form-control my-2' v-model='questionsList[index].question_name'>
                        </div>
                        <label for="answers">Answer Options</label>
                        <div v-if='question.isMCQ==true' v-for='(option, ind) in question.options'>
                            <!-- {{ind + 1}}. {{option}} -->
                            <input type="text" id="question" class='form-control mb-1' v-model='question.options[ind]'>
                        </div>
                        <div v-if='question.isMCQ==false' v-for='(option, ind) in question.options' class='ml-3'>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions">
                                <label class="form-check-label" for="inlineRadio1">{{option}}</label>
                            </div>
                        </div>
                        <div class='container'>
                            <div class='row'>
                                <div class="col"></div>
                                <div class='col mb-3 d-flex justify-content-center'>
                                    <button type="button" class="btn btn-secondary mt-3"><a style='color:white' href="#" v-on:click='confirmEdit(index)'>Confirm</a></button>
                                </div>
                                <div class='col'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div v-if='error!=""' id='error'>
                <div id='duplicate-alert' class="alert alert-danger mx-auto w-75 text-center justify-content-center limitDivWidth" role="alert">
                    {{error}}
                </div>
            </div>
            <div id='form-div' class='my-3 d-none limitDivWidth mx-auto'>
                <div id='TFQn' class='d-none'>
                    <div class="form-group">
                        <label for="question">Question Title</label>
                        <input type="text" maxlength="128" class="form-control" id="TFquestion">
                    </div>
                    <button id='question-title-submit-btn' type='button' v-on:click='addTFQuestion' class="btn btn-primary">Add T/F Question</button>
                </div>
                <div id='MCQQn' class='d-none edit'>
                    <div class="form-group">
                        <label for="question">Question Title</label>
                        <input type="text" maxlength="128" class="form-control" id="MCQquestion">
                    </div>
                    <button id='question-title-submit-btn' type='button' v-on:click='addMCQQuestion' class="btn btn-primary">Add MCQ Question</button>
                </div>
            </div>
            <div id='answer-div' class='d-none my-3 limitDivWidth mx-auto'>
                <div id='answerOptions'>
                    <div class="form-group">
                        <div id='completedAnswerOptions' class='d-none'>
                            <div class='container'>
                                <div class='row'>
                                    <div class="col"></div>
                                    <div class='col mb-3 d-flex justify-content-center' id='confirmAnswerOptions'>
                                        <button type="button" class="btn btn-secondary"><a id='addAnswers' style='color:white' href="#" v-on:click='addAnswers'>Confirm</a></button>
                                    </div>
                                    <div class='col'></div>
                                </div>
                            </div>
                        </div>
                        <label for="answers">Add answer options</label>
                        <input type="text" maxlength="128" class="form-control" id="answer">
                    </div>
                    <button id='question-title-submit-btn' type='button' v-on:click='addAnswerOptions' class="btn btn-primary">Add Answer Option</button>
                </div>
            </div>
        </div>
        <div id='confirm'>
            <div v-if='questionsList.length > 0' id='submit-btn' class='limitDivWidth mx-auto'>
                <div class='container'>
                    <div class='row'>
                        <div class="col"></div>
                        <div class='col mx-auto mb-3' id='submit-and-cancel-button'>
                            <button type="button" class="btn btn-success mr-2"><a id='confirmBtn' href="#" v-on:click='checkEmpty' style='color:white'>Confirm</a></button>
                            <button type="button" class="btn btn-danger ml-2"><a href='#' style='color:white'>Cancel</a></button>
                        </div>
                        <div class='col'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        import { URL, retrieveQuizById} from "./callAPI/endpoints.js";

        var section_id = JSON.parse(localStorage.getItem('sectionSelectedId'));

        var section_name = JSON.parse(localStorage.getItem('sectionSelectedName'));
        document.getElementById('breadcrumb-4').innerText = section_name;

        const course = JSON.parse(localStorage.getItem("courseDetails"));

        // set breadcrumb
        const course_id = course['course_id'];
        document.getElementById('breadcrumb-2').innerText = course_id

        const class_id = course['class_id'];
        document.getElementById('breadcrumb-3').innerText = "Class " + class_id


        import navBar from "./components/navBar.js"

        new Vue({
            el: '#nav-bar-component'
        });

        var app = new Vue({
            el: "#app",
            data: {
                questionsList: [],
                quiz_id: "",
                section_id: "",
                time_limit: null,
                questionNames: [],
                error: ""
            },
            created: function() {
                var quiz_id = JSON.parse(localStorage.getItem('selectedQuizId'));
                retrieveQuizById(URL, quiz_id).then(result => {
                    if(result.code == 200){
                        console.log(result.data)
                        this.questionsList = result.data.questions;
                        this.quiz_id = result.data.quiz_id;
                        this.section_id = result.data.section_id;
                        this.time_limit = result.data.time_limit;
                        for(let question of result.data.questions){
                            this.questionNames.push(question.question_name.toLowerCase());
                        }
                        for(let question of this.questionsList){
                            question['options_lower']=[];
                        }
                    }
                })    
            },
            methods: {
                editQuestion: function(ind){
                    document.getElementById(`editQuestions${ind}`).classList.remove('d-none');
                    document.getElementById(`question${ind}`).classList.add('d-none');
                    document.getElementById('alert-and-button').classList.add('d-none');
                    
                },
                confirmEdit: function(ind){
                    document.getElementById(`editQuestions${ind}`).classList.add('d-none');
                    document.getElementById(`question${ind}`).classList.remove('d-none');
                    document.getElementById('alert-and-button').classList.remove('d-none');
                },
                createTFQuestion: function(){
                    document.getElementById('form-div').classList.remove("d-none");
                    document.getElementById('alert-and-button').classList.add("d-none");
                    if(!document.getElementById('MCQQn').classList.contains('d-none')){
                        document.getElementById('MCQQn').classList.add("d-none");
                    }
                    document.getElementById('TFQn').classList.remove("d-none");

                },
                createMCQQuestion: function(){
                    document.getElementById('MCQquestion').value = "";
                    document.getElementById('form-div').classList.remove("d-none");
                    document.getElementById('alert-and-button').classList.add("d-none");
                    if(!document.getElementById('TFQn').classList.contains('d-none')){
                        document.getElementById('TFQn').classList.add("d-none");
                    }
                    document.getElementById('MCQQn').classList.remove("d-none");
                    
                },
                addTFQuestion: function(){
                    var question = {};
                    var questionTitle = document.getElementById('TFquestion').value;
                    if(this.questionNames.includes(questionTitle.toLowerCase())){
                        document.getElementById('TFquestion').value = "";
                        this.error = "Duplicate question alert! Enter another question."
                    } else if((!this.questionNames.includes(questionTitle.toLowerCase())) && (questionTitle !== "")){
                        this.error = "";
                        this.questionNames.push(questionTitle.toLowerCase());

                        question['question_name'] = questionTitle;
                        question['isMCQ'] = false;
                        question['options'] = ['True', 'False'];

                        document.getElementById('TFquestion').value = "";
                        this.questionsList.push(question);
                        this.showAlertDiv();
                    }
                },
                addMCQQuestion: function(){
                    var question = {};
                    var questionTitle = document.getElementById('MCQquestion').value;
                    if(this.questionNames.includes(questionTitle.toLowerCase())){
                        document.getElementById('MCQquestion').value = "";
                        this.error = "Duplicate question alert! Enter another question."
                    } else if((!this.questionNames.includes(questionTitle.toLowerCase())) && (questionTitle !== "")){
                        
                        this.error = "";
                        document.getElementById('completedAnswerOptions').classList.add('d-none');
                        this.questionNames.push(questionTitle.toLowerCase());

                        question['question_name'] = questionTitle;
                        question['isMCQ'] = true;
                        question['options'] = [];
                        question['options_lower'] = [];

                        document.getElementById('form-div').classList.add('d-none');
                        this.questionsList.push(question);
                        // let index = this.questionsList.findIndex((element) => element == question);
                        // console.log(document.getElementById(`editBtn${index}`).classList)
                        this.showAnswerDiv();
                    }
                },
                addAnswerOptions: function(){
                    var answer = document.getElementById('answer').value;
                    var questionNumber = this.questionsList.length-1;
                    if(this.questionsList[questionNumber].options_lower.includes(answer.toLowerCase())){
                        document.getElementById('answer').value="";
                        this.error = 'Duplicate answer alert! Enter another answer.';
                    } else if(!this.questionsList[questionNumber].options_lower.includes(answer.toLowerCase()) && (answer !== "")){
                        this.error = '';
                        this.questionsList[questionNumber].options_lower.push(answer.toLowerCase());
                        this.questionsList[questionNumber].options.push(answer);
                        var numAnswers = this.questionsList[questionNumber].options.length;
                        if(numAnswers >=3){
                            document.getElementById('completedAnswerOptions').classList.remove('d-none');
                        }
                        document.getElementById('answer').value ="";
                    }
                },
                addAnswers: function(){
                    document.getElementById('answer-div').classList.add('d-none');
                    this.showAlertDiv();
                },
                showAlertDiv: function(){
                    document.getElementById('form-div').classList.add("d-none");
                    document.getElementById('alert-and-button').classList.remove("d-none");
                },
                showAnswerDiv: function(){
                    document.getElementById('answer-div').classList.remove('d-none');
                },
                checkEmpty: function(){
                    if(this.questionsList.length == 0){
                        this.error = "The quiz cannot be empty! Please add a question before submitting.";
                        // document.getElementById('error').remove('d-none');
                    }
                    else{
                        var numOptions = true;
                        for(let question in this.questionsList){
                            if(question.isMCQ == true){
                                numOptions = question.options.length;
                                if(numOptions <3){
                                    numOptions = false;
                                }
                            }  
                        }
                        if(numOptions == true){
                            let confirmBtn = document.getElementById('confirmBtn')
                            confirmBtn.href = './add_question_score.html'
                            localStorage.setItem('questions', JSON.stringify(this.questionsList));
                        } else {
                            this.error = "Please enter at least 3 answer options for MCQ questions!";  
                        } 
                    }  
                }
            }
        })
    </script>

<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>