<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Quiz CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Axios link -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <title>Section Page</title>

    <script>
        //Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
    </script>

</head>
<body>
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>

    <div id ='app' class='wrapper container mx-auto' v-cloak>
        <div class='mx-auto mt-4'>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a id ='breadcrumb-1' href="./view-list-of-enrolled-courses.html">Courses</a></li>
                    <li class="breadcrumb-item"><a id ='breadcrumb-2' href="./view-specific-enrolled-course.html">{{course_id}}</a></li>
                    <li class="breadcrumb-item"><a id ='breadcrumb-3' href="./engineer_section_page.html">Class G{{class_id}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sections</li>
                </ol>
            </nav>
        </div>

        <div id='error' class='alert alert-danger w-50 mx-auto text-center d-none'>There are currently no sections for this class.</div>
        <div id='sections-div' class='d-none'>
            <div id='sections' v-for='(section, index) in sections' class='mx-auto'>
                <div v-if='checkIfSectionUnlocked(section.section_id)'>
                    <div class="card my-4">
                        <div class="card-header h3">
                            {{section.section_name}}
                        </div>
                        <div class="card-body"> 
                            <p>
                                <a class="btn btn-primary" data-toggle="collapse" :href="'#collapseExample' + index" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    View Materials
                                </a>
                                <a :href="'./view_attempts.html?quiz_id=' + section.quiz" @click='addSectionName(index)' v-if='section.quiz' class="btn btn-warning ml-2">View Attempts</a>
                            </p>
                            <div class="collapse" :id="'collapseExample' + index">
                                <div class="card card-body">
                                    <div v-if='section.materials.length == 0'>No materials</div>
                                    <div v-for ='material in section.materials'>
                                        <a v-if="material.mat_type=='Link'" :href="material.url" target='_blank'>{{material.mat_name}}</a>
                                        <a v-else href="view_material.html" @click="addMatName(material.mat_name, index)">{{material.mat_name}}</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="card my-4">
                        <div class="card-header h3">
                            {{section.section_name}}
                        </div>
                        <div class="card-body"> 
                            <p>
                                <a class="btn btn-secondary disabled" data-toggle="collapse" :href="'#collapseExample' + index" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    View Materials
                                </a>
                                <a :href="'./view_attempts.html?quiz_id=' + section.quiz" @click='addSectionName(index)' v-if='section.quiz' class="btn btn-secondary ml-2 disabled">View Attempts</a>
                            </p>
                            <div class="collapse" :id="'collapseExample' + index">
                                <div class="card card-body">
                                    <div v-if='section.materials.length == 0'>No materials</div>
                                    <div v-for ='material in section.materials'>
                                        <a v-if="material.mat_type=='Link'" :href="material.url" target='_blank'>{{material.mat_name}}</a>
                                        <a v-else href="view_material.html" @click="addMatName(material.mat_name, index)">{{material.mat_name}}</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div id = 'finalQuiz' class='d-flex justify-content-center d-none mx-auto'>
            <a v-if='able_to_take_final_quiz && sections.length!==0' :href="'./view_attempts.html?quiz_id=' + final_quiz_id + '&is_final=true'" v-if='final_quiz_id' @click='setFinalSection' class="btn btn-info mb-4">View Final Quiz Attempts</a>
            <a v-if='!able_to_take_final_quiz && sections.length!==0' :href="'./view_attempts.html?quiz_id=' + final_quiz_id + '&is_final=true'" v-if='final_quiz_id' @click='setFinalSection' class="btn btn-secondary mb-4 disabled" >View Final Quiz Attempts</a>
        </div>
    </div>
    
    <script type="module">
        import navBar from "./components/navBar.js"

        new Vue({
            el: '#nav-bar-component'
        });

        import { URL, retrieveAllSectionsFromClass, retrieveLearnerProgress } from "./callAPI/endpoints.js";

        var app = new Vue({
            el: '#app',
            data: {
                sections: [],
                course_id: null,
                class_id: null,
                final_section: null,
                final_quiz_id: null,
                able_to_take_final_quiz: false,
                unlocked_sections: [],
                locked_sections: [],
                latest_completed_section: ""
            },

            created: function() {
                const course = JSON.parse(localStorage.getItem("courseDetails"));
                const class_details= JSON.parse(localStorage.getItem("classDetails"));
                const accountDetails = JSON.parse(localStorage.getItem("accountDetails"));

                const staff_id = accountDetails['staff_id'];

                const course_id = course['course_id'];
                this.course_id = course_id;

                const class_id = class_details['class_id'];
                this.class_id = class_id;

                this.final_quiz_id = class_details['final_quiz_id'];

                if(this.final_quiz_id){
                    document.getElementById('finalQuiz').classList.remove('d-none');
                }

                
                retrieveAllSectionsFromClass(URL, course_id, class_id).then(result => {
                    if(result.code == 200){
                        this.sections = result.data;
                        document.getElementById('sections-div').classList.remove('d-none');
                        this.final_section = result.data[result.data.length -1]['section_id'];
                    }
                    else {
                        this.sections = "";
                        document.getElementById('error').classList.remove('d-none');
                    }

                    this.checkProgress();
                })  
                
                
            },
            methods: {
                addMatName: function(mat_name, ind){
                    localStorage.setItem('matName', JSON.stringify(mat_name));
                    localStorage.setItem('sectionSelectedId', JSON.stringify(this.sections[ind].section_id));
                    localStorage.setItem('sectionSelectedName', JSON.stringify(this.sections[ind].section_name));
                },
                addSectionName: function(ind){
                    localStorage.setItem('sectionSelectedName', JSON.stringify(this.sections[ind].section_name));
                    localStorage.setItem('selectedQuizId', JSON.stringify(this.sections[ind].quiz));
                },
                setFinalSection: function(){
                    localStorage.setItem('sectionSelectedName', JSON.stringify("Final Graded Quiz"));
                    localStorage.setItem('selectedQuizId', JSON.stringify(this.final_quiz_id));
                },
                checkIfSectionUnlocked: function(section){
                    if(this.unlocked_sections.includes(section)){
                        return true
                    } else {
                        return false
                    }
                },
                checkProgress: function(){
                    const accountDetails = JSON.parse(localStorage.getItem("accountDetails"));
                    const staff_id = accountDetails['staff_id'];

                    retrieveLearnerProgress(URL, staff_id, this.course_id).then(result =>{
                        if(result.code == 200){
                            if(result.data.sections_completed.length == 0){
                                this.unlocked_sections.push(this.sections[0].section_id);
                            } else {
                                for(let section_id of result.data.sections_completed){
                                    this.unlocked_sections.push(section_id);
                                } 
                            }
                        }

                        this.latest_completed_section = this.unlocked_sections[this.unlocked_sections.length - 1];

                        for(let index in this.sections){
                            if(!this.unlocked_sections.includes(this.sections[index].section_id)){
                                let current_latest_completed_index = this.sections.findIndex((element) => element.section_id == this.latest_completed_section)
                                if(current_latest_completed_index == index-1 && result.data.sections_completed.length !== 0){
                                        this.unlocked_sections.push(this.sections[index].section_id);                               
                                } else{
                                    this.locked_sections.push(this.sections[index].section_id);
                                }
                                
                            }
                        }

                        // this.latest_unlocked_section = this.unlocked_sections[this.unlocked_sections.length - 1];

                        if(this.latest_completed_section == this.final_section){
                            this.able_to_take_final_quiz = true;
                        } 
                    });
                }
                
            }
        })
    </script>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>
</html>