<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Quiz CSS -->
    <link rel='stylesheet' href='css/assignment.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <title>HR Assign Trainers</title>
</head>
<body>
    <div id='nav'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"  id="navlogo">ONE STOP LMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>  
            </div>
            <a class="nav-link" href="#"><img src="../images/image_2021-09-29_17-14-02.png" id="profilelogo"></a>
        </nav>
    </div>

    <div id='breadcrumb-div' class='mx-auto mt-4'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">IC111</a></li>
                <li class="breadcrumb-item"><a href="">Class 1</a></li>
                <li class="breadcrumb-item active" aria-current="page">Assign Trainer</li>
            </ol>
        </nav>
    </div>
</head>
<body>
    <div id='app'>
        <div>
            <p class='text-center h3 mt-3 mb-4'>Assign a Trainer</p>
        </div>
        <div id='confirmation' v-if='assigned'>
            <div class="alert alert-success w-50 mx-auto text-center" role="alert">
                {{selectedName}} has been assigned successfully!
            </div>
        </div>
        <div id='alert-message' v-if='num_trainers'>
            <div class="alert alert-danger mx-auto w-50 text-center" role="alert">
                There are no qualified trainers for selection.
            </div>
        </div>
        <div class='mx-auto' id='trainers-div'>
            <div v-for='trainer in trainers'>
                <span class='h3 ml-1'><b>{{trainer.name}}</b></span>
                <span class='h6 ml-2'>{{trainer.role}}</span>
                <div class='mt-2'>
                    <span v-if='trainer.qualified' class="badge badge-pill badge-success py-2 my-2">Trainer is qualified</span>
                    <span>
                        <button id='assign-btn' type='button' v-on:click='assignTrainer(trainer.name)' class="btn btn-primary">Assign Trainer</button>
                    </span>
                </div>
                <hr>
            </div>
        </div>
        <div id='submit-btn' class='mb-3'>
            <div class='container'>
                <div class='row'>
                    <div class="col"></div>
                    <div class='col mx-auto' id='submit-and-cancel-button'>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
                    <div class='col'></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                trainers: [
                    {'name': 'David',
                    'role': 'Senior Printer Engineer',
                    'status': 'Completed Pre-requisites',
                    'qualified': true},
                    {'name': 'Helen',
                    'role': 'Senior Printer Engineer',
                    'qualified': true},
                    {'name': 'John',
                    'role': 'Senior Printer Engineer',
                    'status': 'Completed Pre-requisites',
                    'qualified': true}
                ],
                selectedName:"",
                assigned: false
            },
            methods: {
                assignTrainer(assigned){
                    this.selectedName = assigned;
                    this.assigned = true

                    for(trainer of this.trainers){
                        if(trainer.name == this.selectedName){
                            const index = this.trainers.indexOf(trainer);
                            if (index > -1) {
                                this.trainers.splice(index, 1);
                            }
                        }
                    }
                }

            },
            computed: {
                num_trainers: function(){
                    if(this.trainers.length>0){
                        return false;
                    }
                    else{
                        return true;
                    }
                }
            }

        })


    </script>
</body>
</html>