<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Enrolment CSS -->
    <link rel='stylesheet' href='css/enrolment.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <!-- Quiz CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>HR Enrol Learners</title>
</head>
<body>
    <div id='nav'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"  id="navlogo">ONE STOP LMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>  
            </div>
            <a class="nav-link" href="#"><img src="images/image_2021-09-29_17-14-02.png" id="profilelogo"></a>
        </nav>
    </div>

    <div id='breadcrumb-div' class='mx-auto mt-4'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
                <li class="breadcrumb-item"><a href="#">IC111</a></li>
                <li class="breadcrumb-item active" aria-current="page">Enrol Learner</li>
            </ol>
        </nav>
    </div>

    <div id='app'>
        <div>
            <p class='text-center h3 mt-3 mb-4'>Enrol Learner</p>
        </div>
        <div id='confirmation' v-if='enrolled'>
            <div class="alert alert-success w-50 mx-auto text-center" role="alert">
                {{selectedName}} has been enrolled successfully!
            </div>
        </div>
        <div id='alert-message' v-if='num_items'>
            <div class="alert alert-danger mx-auto w-50 text-center" role="alert">
                There are no eligible learners for selection.
            </div>
        </div>
        <div class='mx-auto' id='learners-div'>
            <div v-for='item in items'>
                <span class='h3 ml-1'><b>{{item.name}}</b></span>
                <span class='h6 ml-2'>{{item.role}}</span>
                <div class='mt-2'>
                    <span class="badge badge-pill badge-success py-2 my-2">{{item.status}}</span>
                    <span class="badge badge-pill badge-warning py-2 my-2">{{item.enrolmentStatus}}</span>
                    <span>
                        <button id='enrol-btn' type='button' v-on:click='enrolLearner(item.name)' class="btn btn-primary">Enrol</button>
                    </span>
                </div>
                <hr>
            </div>
        </div>
        <div id='submit-btn' class='mb-3'>
            <div class='container'>
                <div class='row'>
                    <div class="col"></div>
                    <div class='col mx-auto' id='submit-and-cancel-button'>
                        <!-- <button type="button" class="btn btn-success mr-2">Confirm</button> -->
                        <button type="button" class="btn btn-danger ml-2">Cancel</button>
                    </div>
                    <div class='col'></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items: [
                    {'name': 'David',
                    'role': 'Junior Printer Engineer',
                    'status': 'Completed Pre-requisites',
                    'enrolmentStatus': 'Not previously enrolled'},
                    {'name': 'Helen',
                    'role': 'Junior Printer Engineer',
                    'status': 'Completed Pre-requisites',
                    'enrolmentStatus': 'Not previously enrolled'},
                    {'name': 'John',
                    'role': 'Junior Printer Engineer',
                    'status': 'Completed Pre-requisites',
                    'enrolmentStatus': 'Not previously enrolled'}
                ],
                selectedName:"",
                updatedEnrolmentStatus:"",
                enrolled:false
            },
            methods: {
                enrolLearner(selected){
                    this.selectedName  = selected;
                    this.updatedEnrolmentStatus = 'Enrolled';
                    this.enrolled = true;

                    for(item of this.items){
                        if(item.name == this.selectedName){
                            const index = this.items.indexOf(item);
                            if (index > -1) {
                                this.items.splice(index, 1);
                            }
                        }
                    }
                }

            },
            computed: {
                num_items: function(){
                    if(this.items.length>0){
                        return false;
                    }
                    else{
                        return true;
                    }
                }
            }

        })


    </script>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>
</html>