<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Quiz CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Axios link -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <title>Section Page</title>

    <script>
        //Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
    </script>
    
</head>
<body>
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>

    <div id ='app' class='wrapper container mx-auto' v-cloak>
        <div class='mx-auto mt-4'>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a id ='breadcrumb-1' href="./view-list-of-assigned-courses.html">Courses</a></li>
                    <li class="breadcrumb-item"><a id ='breadcrumb-2' href="./view-specific-assigned-course.html">{{course_id}}</a></li>
                    <li class="breadcrumb-item"><a id ='breadcrumb-3' href="./trainer_section_page.html">Class G{{class_id}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sections</li>
                </ol>
            </nav>
        </div>

        <!-- <div class="container d-flex justify-content-end">
            <a href = "./add-new-section.html" class="btn btn-secondary">
                Add New Section
                <span class="iconify" data-icon="akar-icons:circle-plus"></span>
            </a>
        </div> -->

        <div id='error' class='alert alert-danger mx-auto text-center d-none '>There are currently no sections for this class.</div>
        <!-- <div id='sections-div' class='d-none'> -->
        <div id='finalQuiz' class='d-flex justify-content-end'>
            <a href = "./add-new-section.html" class="btn btn-outline-primary mr-3">
                Add New Section
                <!-- <span class="iconify" data-icon="akar-icons:circle-plus"></span> -->
            </a>
            <a v-if='final_quiz_id == null' id='add-final-quiz' class="btn btn-outline-info" href='./add_quiz.html' @click='addFinalQuiz' >
                Add Final Graded Quiz
            </a>
            <a v-if='final_quiz_id !== null' id='edit-final-quiz' class="btn btn-outline-info" href='./edit_quiz.html' @click='editFinalQuiz' >
                Edit Final Graded Quiz
            </a>
        </div>
        <div id='sections' v-for='(section, index) in sections' class='mx-auto'>
            <div class="card my-4">
                <div class="card-header h3">
                    {{section.section_name}}
                </div>
                <div class="card-body"> 
                    <p>
                        <a class="btn btn-primary" href='./upload_materials_trainer.html' @click='viewSection(index)' >
                            Add Materials
                        </a>
                        <a v-if='section.quiz == null' href="./add_quiz.html" @click='viewSection(index)' class="btn btn-warning ml-2">Add Quiz</a>
                        <a v-if='section.quiz != null' href="./edit_quiz.html" @click='viewSection(index)' class="btn btn-secondary ml-2">Edit Quiz</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    
    <script type="module">
        import navBar from "./components/navBar.js"

        new Vue({
            el: '#nav-bar-component'
        });

        import { URL, retrieveAllSectionsFromClass, retrieveAllClasses } from "./callAPI/endpoints.js";
        
        var app = new Vue({
            el: '#app',
            data: {
                sections: null,
                course_id: null,
                class_id: null,
                final_quiz_id: null
            },

            created: function() {
                const course = JSON.parse(localStorage.getItem("courseDetails"));
                const class_details= JSON.parse(localStorage.getItem("classDetails"));

                const course_id = course['course_id'];
                this.course_id = course_id;

                const class_id = class_details['class_id'];
                this.class_id = class_id;

                // this.final_quiz_id = class_details['final_quiz_id'];

                // if(this.final_quiz_id != null){
                //     document.getElementById('edit-final-quiz').classList.remove('d-none');
                // } else {
                //     document.getElementById('add-final-quiz').classList.remove('d-none');
                // }

                retrieveAllSectionsFromClass(URL, course_id, class_id).then(result => {
                    if(result.code == 200){
                        this.sections = result.data;
                        // document.getElementById('sections').classList.remove('d-none');
                    }
                    else {
                        this.sections = "";
                        document.getElementById('error').classList.remove('d-none');
                    }
                });
                retrieveAllClasses(URL, this.course_id).then(result => {
                    if (result.code == 200){
                        for(let class_details of result.data){
                            if(class_details.class_id == this.class_id){
                                if(class_details.final_quiz_id != null){
                                    // console.log(class_details)
                                    this.final_quiz_id = class_details.final_quiz_id;
                                }
                            }
                        }
                        
                    } else {
                        this.error = true;
                    }
                });
                
            },
            methods: {
                viewSection: function(e){
                    localStorage.setItem('sectionSelectedId', JSON.stringify(this.sections[e].section_id));
                    localStorage.setItem('sectionSelectedName', JSON.stringify(this.sections[e].section_name));
                    if(this.sections[e].quiz!= null){
                        localStorage.setItem('selectedQuizId', JSON.stringify(this.sections[e].quiz));
                    } else{
                        localStorage.setItem('selectedQuizId', null);
                    }
                    localStorage.setItem('isFinalQuiz', null);
                },
                addFinalQuiz: function(){
                    localStorage.setItem('isFinalQuiz', true);
                    localStorage.setItem('finalQuizId', null)
                },
                editFinalQuiz: function(){
                    localStorage.setItem('finalQuizId', JSON.stringify(this.final_quiz_id));
                }
            }
        })
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>
</html>