<!doctype html>
<html lang="en">
<head SameSite=None>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Quiz CSS -->
    <link rel='stylesheet' href='css/quiz.css'>

    <!-- Nav CSS -->
    <link rel='stylesheet' href='css/nav.css'>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Axios link -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- jQuery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <title>View Material</title>

    <script>
        //Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
    </script>

</head>
<body>
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>

    <div id="app" class='wrapper container mx-auto' v-cloak>
        <div class='mx-auto mt-4'>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li v-if='isTrainer === true' class="breadcrumb-item"><a id ='breadcrumb-1' href="./view-list-of-assigned-courses.html">Courses</a></li>
                    <li v-if='isTrainer === false' class="breadcrumb-item"><a id ='breadcrumb-1' href="./view-list-of-enrolled-courses.html">Courses</a></li>

                    <li v-if='isTrainer === true' class="breadcrumb-item"><a id ='breadcrumb-2' href="./view-specific-assigned-course.html">{{course_id}}</a></li>
                    <li v-if='isTrainer === false' class="breadcrumb-item"><a id ='breadcrumb-2' href="./view-specific-enrolled-course.html">{{course_id}}</a></li>

                    <li v-if='isTrainer === true' class="breadcrumb-item"><a id ='breadcrumb-3' href="./trainer_section_page.html">Class G{{class_id}}</a></li>
                    <li v-if='isTrainer === false' class="breadcrumb-item"><a id ='breadcrumb-3' href="./engineer_section_page.html">Class G{{class_id}}</a></li>

                    <li v-if='isTrainer === true' class="breadcrumb-item"><a id ='breadcrumb-4' href="./trainer_section_page.html">{{section_name}}</a></li>
                    <li v-if='isTrainer === false' class="breadcrumb-item"><a id ='breadcrumb-4' href="./engineer_section_page.html">{{section_name}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{material_name}}</li>
                </ol>
            </nav>
        </div>
        
        <div class='d-flex justify-content-end mr-5'>
            <a id='download-material' class="btn btn-info mb-3" href='#'>
                Download Course Material
            </a>
        </div>
        <div class="d-flex align-items-center">
            <div id='iframe-div' class='d-none mx-auto mb-3'></div>
            <div id='video-div' class='d-none mx-auto'>
                <video controls>
                    <source type="video/mp4">
                </video>
            </div>
            <div id='image-div' class='d-none mx-auto mb-3'>
                <img id='img' src='#'>
            </div>
        </div>
    </div>
    <script type="module">
        import navBar from "./components/navBar.js"

        new Vue({
            el: '#nav-bar-component'
        });

        import { URL, retrieveSpecificSection } from "./callAPI/endpoints.js";
        var app = new Vue({
            el: "#app",
            data:{
                material_name: "",
                material_type: "",
                course_id: "",
                class_id: "",
                isTrainer: null, 
                section_name: ""
            },
            created: function() {
                const course = JSON.parse(localStorage.getItem("courseDetails"));
                const class_details = JSON.parse(localStorage.getItem("classDetails"));
                const account_details = JSON.parse(localStorage.getItem("accountDetails"));

                const course_id = course['course_id'];
                this.course_id = course_id;

                const class_id = class_details['class_id'];
                this.class_id = class_id;

                var section_name = JSON.parse(localStorage.getItem('sectionSelectedName'));
                // document.getElementById('breadcrumb-4').innerText = section_name;
                this.section_name = section_name;

                const section_id = JSON.parse(localStorage.getItem('sectionSelectedId'));
                const mat_name = JSON.parse(localStorage.getItem('matName'));

                if(account_details.isTrainer === true){
                    this.isTrainer = true;
                }
                else {
                    this.isTrainer = false;
                }
                
                retrieveSpecificSection(URL, section_id).then(result => {
                    if(result.code == 200){
                        let section = result.data;
                        for(let material of section['materials']){
                            if(material['mat_name'] == mat_name){
                                this.material_name = material['mat_name'];
                                document.getElementById('download-material').setAttribute('href', material['url']);
                                if(material['mat_type'] == '.mp4'){
                                    document.getElementById('video-div').classList.remove('d-none');
                                    var video = document.getElementsByTagName('video')[0];
                                    var source = document.createElement('source');
                                    source.setAttribute('src', material['url']);
                                    video.appendChild(source);
                                    
                                } else if(material['mat_type'] == ".pdf"){
                                    document.getElementById('iframe-div').classList.remove('d-none');
                                    var doc = document.getElementById('iframe-div');
                                    var iframe = document.createElement('iframe');
                                    iframe.setAttribute('id', 'pdfFrame');
                                    iframe.setAttribute('width', '900px');
                                    iframe.setAttribute('height', '800px');
                                    iframe.setAttribute('src', `https://docs.google.com/viewer?url=${material['url']}&embedded=true`);
                                    doc.appendChild(iframe);

                                    var count = 0;
                                            
                                    $(`#iframe-div`).html(iframe);
                                            $('#pdfFrame').on('load', function(){ 
                                            count++;
                                            if(count>0){
                                                clearInterval(ref)
                                            }
                                        });

                                    var ref = setInterval(()=>{
                                        $(`#iframe-div`).html(iframe);
                                        $('#pdfFrame').on('load', function() {
                                            count++;
                                            if (count > 0) {
                                                clearInterval(ref)
                                            }
                                        });
                                    }, 4000)
                                } else if(material['mat_type'] == '.jpg' || material['mat_type'] == '.png'){
                                    document.getElementById('image-div').classList.remove('d-none');
                                    var img = document.getElementById('img')
                                    img.setAttribute("src", material['url']);
                                    img.setAttribute("width", "900px");
                                    img.setAttribute("height", "800px");
                                }
                                else{
                                    document.getElementById('iframe-div').classList.remove('d-none');
                                    var doc = document.getElementById('iframe-div');
                                    var iframe = document.createElement('iframe');
                                    iframe.setAttribute('width', '900px');
                                    iframe.setAttribute('height', '800px');
                                    iframe.setAttribute('src', `https://view.officeapps.live.com/op/embed.aspx?src=${material['url']}`);
                                    doc.appendChild(iframe);
                                }
                            }
                        }
                    }
                })            
            }
        })
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>
</html>