<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Navbar css-->
    <link rel="stylesheet" href="./css/nav.css">
    <!-- Main css -->
    <link rel="stylesheet" href="./css/courses.css">
    <!-- Iconify -->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script>
        //Check for authentication
        if (!localStorage.getItem("accountDetails")) { window.location.replace("./home.html"); }
        //Check for classDetails
        if (!localStorage.getItem("classDetails")) { window.location.replace("./view-list-of-courses-HR.html"); }
    </script>
    <!-- NavBar -->
    <div id="nav-bar-component">
        <nav-bar></nav-bar>
    </div>
</head>

<body>
    <div v-cloak id="app" class="wrapper container mx-auto">
        <div id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a href="./view-list-of-courses-HR.html">Courses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ course.course_id }}</li>
                </ol>
            </nav>
        </div>

        <div v-if="successAlert" class="alert alert-success alert-dismissible fade show text-center mx-2" role="alert">
            <strong>{{ successAlertMsg }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="successAlert=false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div v-if="enrollCheck===1" id='duplicate-qn-alert' class="alert alert-success mx-auto text-center justify-content-center" role="alert">
            Your request to enroll in {{ course.course_id }} {{ course.course_name }} G{{this.classId}} has been logged
        </div>

        <div class="card text-center m-2">
            <div class="card-body pt-4 px-5">
                <h2 class="card-title font-weight-bold">{{ course.course_id }} {{ course.course_name }}</h2>
                <p class="card-text">{{ course.course_description }}</p>
                <div class="mx-auto">
                    <span v-if = "course.prerequisite_course.length === 0" class="badge badge-info mr-1">No pre-requisites</span>
                    <span v-else v-for ="prereq in course.prerequisite_course" class="badge badge-info mr-1">{{ prereq }}</span>
                </div>
            </div>
        </div>

        <!-- "Add New Class" Button for HR -->
        <div v-if="accountDetails.role ==='HR'" class="container d-flex justify-content-end p-0">
            <a href = "add-new-class-HR.html" class="btn btn-outline-info mt-2 mr-2">
                Add New Class <span class="iconify" data-icon="akar-icons:circle-plus"></span>
            </a>
        </div>

        <div v-if="error" class="alert alert-warning m-2 mt-3 text-center" role="alert">
            There are currently no classes available.
        </div>
        <div class="row">
            <div v-for = "selectedClass in classList" class="col-6 p-0 d-flex justify-content-center">
                <div class="card m-3" style="width: 540px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title d-flex justify-content-between">
                            <a>G{{ selectedClass.class_id }}</a>
                            <a v-if="accountDetails.role === 'HR'" href="./edit-class-details.html" @click="setClassDetails(selectedClass)">
                                <span class="iconify edit-button ml-2" data-icon="bx:bxs-edit"></span>
                            </a>
                            
                        </h5>
                        <p class="card-text">
                            <div class="m-0">
                                <a href="" class="badge badge-info">Edit details</a>
                                <a href="" class="badge badge-info">Edit details</a>
                            </div>
                            <b>Duration: </b> {{ datetimeToDate(selectedClass.start_datetime, selectedClass.end_datetime) }}
                            <br>
                            <b>Availability: </b> {{ getSectionAvailability(selectedClass.learners_enrolled, selectedClass.class_size) }}
                            <br>
                            <b>Trainer Assigned: </b> {{ isTrainerAssigned(selectedClass.trainer_name) }}
                        </p>
                        <!-- "Add New Class" Button for HR href="engineer_section_page.html"-->
                        <a v-if="accountDetails.role === 'HR'" @click="setClassId(selectedClass.class_id)" href="HR_enrol_learners.html" class="btn btn-outline-info mt-auto">View Sections</a>
                        <a v-else-if="isSectionFull(selectedClass.learners_enrolled, selectedClass)" @click="setClassId(selectedClass.class_id); selfEnroll(accountDetails.staff_id, course.course_id, selectedClass.class_id)" class="btn btn-outline-info mt-auto">Enroll</a>
                        <button v-else class="btn btn-light mt-auto" disabled>Enroll</button>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    
<script type="module">
import { URL, retrieveSpecificCourse, retrieveAllClasses, retrieveAssignedClasses } from "./callAPI/endpoints.js";
import navBar from "./components/navBar.js"

new Vue({
    el: '#nav-bar-component' 
});

var app = new Vue({
    el: '#app',
    data: {
        accountDetails: {},
        successAlert: false,
        successAlertMsg: "",
        classId: "",
        course: {
            course_name: "",
            course_id: "",
            course_description: "",
            prerequisite_course: [],
            class_list: []
        },
        classList: [],
        selected: 'not selected',
        courses: [],
        error: false,
        enrollCheck:0,
        selectedClass : ""
    },
    methods: {
        datetimeToDate(startDatetime, endDatetime) {
            //format date to DD/MM/YYYY
            const startDatetimeStr = new Date(startDatetime);
            const startDate = startDatetimeStr.toLocaleDateString();

            const endDatetimeStr = new Date(endDatetime);
            const endDate = endDatetimeStr.toLocaleDateString();

            return startDate + " to " + endDate;
        },
        getSectionAvailability(learnersEnrolled, classSize){
            // returns availability of section
            return (classSize - learnersEnrolled.length).toString() + "/" + (classSize).toString();
        },
        isSectionFull(learnersEnrolled, classSize) {
            // returns if class is full
            return learnersEnrolled.length === classSize.length ? false : true;
        },
        isTrainerAssigned(trainerName) {
            // returns trainer name if trainer is assigned
            return trainerName === null ? "Not assigned" : trainerName;
        },
        selfEnroll(staffid,courseid,classid){
            
            const body = {
                "staff_id": staffid,
                "course_id" : courseid,
                "class_id" : classid,
                
            }
            fetch('http://13.250.140.89:5000/request',{
                method: 'POST',
                headers:{
                'Content-Type':'application/json'
                },
                body: JSON.stringify(body)
            }).then(response=>{
                    //console.log(response.ok);
                    if(response.status == 201){
                        this.enrollCheck = 1
                    }else{
                        this.enrollCheck = 2
                    }
                    return response
                })
        },
        setClassId(classId) {
            this.course.class_id = classId;
            this.classId = classId
            localStorage.setItem("courseDetails", JSON.stringify(this.course));
        },
        setClassDetails(classDetails) {
            localStorage.setItem("classDetails", JSON.stringify(classDetails));
        },
        // get the url of last visited page, show create/update course and class success alert
        showSuccessAlert() {
            const lastVisitedLink = document.referrer.split("/").at(-1);
            //if previous page was add new course, display success alert for course creation
            if (lastVisitedLink == "add-new-course-HR.html"){
                this.successAlert = true;
                this.successAlertMsg = `Course successfully created`;
            } else if (lastVisitedLink == "add-new-class-HR.html"){
                this.successAlert = true;
                this.successAlertMsg = `Class successfully created`;
            } else if (lastVisitedLink == "edit-class-details.html"){
                this.successAlert = true;
                this.successAlertMsg = `Class successfully updated`;
            }
        }
        
    },
    created: function() {
        //show successful course creation alert if applicable
        this.showSuccessAlert()

        //retrieve accountDetails
        this.accountDetails = JSON.parse(localStorage.getItem("accountDetails"));
        //Retrieve course id from URL
        this.course = JSON.parse(localStorage.getItem("courseDetails"));

        //Call retrieveSpecificCourse API
        // retrieveSpecificCourse(URL, course.course_id).then(result => {
        //     // Initialize course object
        //     if (result.code == 200){
        //         const course = result.data;
        //         this.course = course;
        //         console.log(course)
        //         console.log(this.course)
        //     }
        // });
        
        // Call retrieveAllClasses API to retrieve all classes
        retrieveAllClasses(URL, this.course.course_id).then(result => {
            if (result.code == 200){
                this.error = false;
                const classes = result.data;
                console.log(classes)
                this.classList = classes;
            } else {
                this.error = true;
            }
        });
    }
})

</script>


<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>