@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', 'Open Sans', 'Oswald', sans-serif;
}

#navlogo{
    margin-left: 30px;
    font-size: 22px;
    font-weight: 600;
    color: #3C64B1;
}
#navbarNav {
    left: 45%;
    margin-left: -50px;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #F3F6FA !important;
}

.switch-view {
    /* position: absolute;
    left: 80%;
    bottom: 29%; */
    font-weight: 500
}

.switch-view:hover {
    text-decoration: underline;
    
}

#profilelogo{
    /* width: 30px; height: 30px;left: 91%; bottom: 25%; list-style: none;position: absolute; */
    width: 30px; 
    height: 30px; 
    list-style: none;
    
}

.profileName {
    /* position: absolute; left: 94%; bottom: 28% */
    color: black;
    display: inline-block;
}

.profileName:hover {
    /* position: absolute; left: 94%; bottom: 28% */
    text-decoration: none;
}
