.section-card {
    width: 80%;
    /* justify-content: center; */
}

#breadcrumb-div, #finalQuiz, #error{
    width: 95%;
}

#alert-no-qn{
    text-align: center;
    width: 35%;
}

/* #add-qn-button, #submit-and-cancel-button{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#submit-and-cancel-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-and-button {
    text-align: center;
}

#add-mcq-qn-button,  #add-qn-button{
    display: inline-block;
}

.question-div{
    width: 50%;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#question-label, #answer-label{
    color: #3C64B1;
}

.limitDivWidth{
    width: 90%;
}

#score {
    float: right;
}

#scoreDiv {
    width: 80%;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#submit-btn {
    margin-top: 50px;
}

#error-quiz-creation {
    width: 40%;
}

#timeLimitDiv {
    width: 30%;
}